.logo {
    display: flex;
    justify-content: center;

    img {
        height: 110px;
    }
}

nav {
    display: flex;
    justify-content: center;

    li {
        display: inline-block;

        a {
            font-size: 12px;
            color: black;
            text-decoration: none;
            padding: 0 10px;
        }

        .rosso {
            border-bottom: 2px solid #002d75;
        }

    }
}
